.article__subtitle{
    margin-top: 64px;
    font: var(--subtitle-font);
    color: #4A3E3C;
}
.article__dis{
    font: var(--body-font);
    color: #4A3E3C;
    margin-top: 16px;
}
.exc__intro-paragraph p{
    font: var(--body-font);
    color: var(--main-bg-color);
    width: 880px;
}
.content i {
    font-style: italic;
  }
.content .long__preview {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 4px;
  }
  .content .long__preview::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--bg-color);
    background-image: url(../images/eye_photo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content .long__preview:hover::before {
    filter: saturate(3.5) contrast(2);
    z-index: 3;
  }
  .content .long__preview img {
    display: none;
    position: absolute;
    left: 12px;
    top: -150px;
    height: 300px;
    width: auto;
    z-index: 2;
  }
  .content .long__preview:hover img {
    display: inline-block;
  }
  .content .long__person {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px dotted #AF9188;
    color: inherit;
  }
  .article__social{
      display: flex;
      margin: 128px 0 128px 0;
  }
  .block__number{
      padding-top: 5px;
      font: var(--s_link-font);
      color: #4A3E3C;
  }
  .article__social-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 40px;
      border: none;
      border-top: 2px solid #AF9188;
      border-bottom: 2px solid #AF9188;
      padding: 0 15px 0 15px;
      margin-right: 16px;
      transition-duration: .4s;
  }
  .article__social-block:hover{
    border-color: #CE5537;
  }
  .article__social-block:hover .article__svg path{
    fill: #CE5537;
  }
  .article__border{
      margin-top: 56px;
      border: none;
      border-top: 2px solid #DBD1CD;
      border-bottom: 2px solid #DBD1CD;
  }
  .article__wrapper {
    display: flex;
    justify-content: space-between;
}
.article__svg{
    width: 20px;
    height: 20px;
}
.article__svg path{
    transition-duration: .4s;
}
@media (max-width: 1660px){
    .article__wrapper {
        display: block;
    }
}
@media (max-width: 660px){
    .exc__intro-paragraph p{
        width: auto;
    }
}
@media (max-width: 380px){
    .article__img{
        width: 310px;
    }
    .article__social{
        margin-top: 0;
    }
}
