.h-tickets {
  position: relative;
  padding: 128px calc(50vw - 760px);
}
.h-tickets__title {
  font: var(--title-font);
  color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 132px;
}
.h-tickets__list {
  display: flex;
}
.h-tickets__list .viewmore {
  display: none;
}
.h-tickets__item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}
.h-tickets__term {
  font: var(--caption-font);
  color: var(--main-bg-color);
  margin-bottom: 19px;
  text-align: center;
}
.h-tickets__value {
  font: var(--body-font);
  color: var(--main-bg-color);
  text-align: center;
  letter-spacing: 0.45px;
}
@media (max-width: 1660px) {
  .h-tickets {
    padding: 61px calc(50vw - 616px);
  }
}
@media (max-width: 1400px) {
  .h-tickets {
    padding: 61px calc(50vw - 568px);
  }
}
@media (max-width: 1180px) {
  .h-tickets {
    padding: 61px calc(50vw - 472px);
  }
  .h-tickets__title {
    margin-bottom: 69px;
  }
  .h-tickets .viewmore {
    padding-top: 56px;
  }
}
@media (max-width: 1020px) {
  .h-tickets {
    padding: 56px 40px;
  }
  .h-tickets__title {
    margin-bottom: 61px;
    text-align: left;
  }
  .h-tickets__list {
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
  }
  .h-tickets__item {
    width: 100%;
    align-items: flex-start;
    margin: 0 0 32px 0;
    padding: 0;
  }
  .h-tickets__item:last-child .h-tickets__term {
    margin-bottom: 22px;
  }
  .h-tickets__term {
    margin-bottom: 14px;
    text-align: left;
  }
  .h-tickets__value {
    text-align: left;
  }
  .h-tickets__list > .viewmore {
    display: flex;
    padding-top: 22px;
    padding-bottom: 74px;
  }
  .h-tickets > .viewmore {
    display: none;
  }
}
@media (max-width: 660px) {
  .h-tickets {
    padding: 56px 24px;
  }
  .h-tickets__value {
    letter-spacing: 0;
  }
}
