.h-welcome {
  display: flex;
  padding: 0 calc(50vw - 760px);
  height: 809px;
  background-image: url('../images/welcome.png');
  background-repeat: no-repeat;
  background-size: auto 640px;
  background-position: 825px 52px;
  margin-bottom: 128px;
}

.h-welcome__left {
  width: 896px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h-welcome__title {
  position: relative;
  font: var(--big-title-font);
  color: var(--main-bg-color);
  text-transform: uppercase;
  margin: auto 0;
  padding-bottom: 22px;
}

.h-welcome__title::after {
  content: '';
  display: block;
  position: absolute;
  left: 5.57em;
  top: 2.58em;
  width: 100px;
  height: 32px;
  background-image: url(../svg/tire.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.h-welcome__stroked {
  color: transparent;
  -webkit-text-stroke: 1px var(--main-bg-color);
}

.h-welcome__desc {
  width: 30em;
  font: var(--body-font);
  color: var(--main-bg-color);
}

.h-welcome__center {
  width: 16.6666%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.h-welcome__schedule {
  font: var(--body-font);
  color: var(--main-bg-color);
}

.h-welcome__right {
  width: 16.6666%;
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.h-welcome__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h-welcome__nav-item {
  font: var(--body-font);
  color: var(--main-bg-color);
  text-decoration: none;
  transition-duration: .4s;
}

.h-welcome__nav-item:hover {
  color: #CE6340;
}

.h-welcome__nav-item--padded {
  padding-top: 16px;
  padding-bottom: 16px;
}

.h-welcome__tours {
  position: relative;
  font: var(--caption-font);
  color: var(--main-bg-color);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 150px;
  letter-spacing: .25px;
}

.h-welcome__arrow {
  position: absolute;
  width: 80px;
  right: -94px;
  top: calc(50% - 12px);
}

.h-welcome__tours .arrow-path {
  transition-duration: .3s;
}

.h-welcome__tours:hover .arrow-path {
  transform: translateX(32px);
}

.h-tours-link {
  display: none;
}

@media (max-width: 1800px) {
  .h-welcome {
    height: 715px;
    background-position: right 22% top 6px;
    margin-bottom: 94px;
  }
}

@media (max-width: 1660px) {
  .h-welcome {
    padding: 0 calc(50vw - 616px);
    height: 595px;
    background-position: right 25% top 16px;
    background-size: auto 504px;
    margin-bottom: 52px;
  }
  .h-welcome__left {
    width: 608px;
  }
  .h-welcome__center {
    margin-left: 120px;
    width: 296px;
  }
}

@media (max-width: 1400px) {
  .h-welcome {
    padding: 0 calc(50vw - 568px);
    height: 566px;
    background-position: right 26% top 16px;
    background-size: auto 464px;
    margin-bottom: 52px;
  }
  .h-welcome__left {
    width: 560px;
  }
  .h-welcome__title {
    padding-bottom: 44px;
  }
  .h-welcome__center {
    margin-left: 112px;
    width: 272px;
  }
}

@media (max-width: 1180px) {
  .h-welcome {
    padding: 0 calc(50vw - 472px) 0 calc(50vw - 472px);
    background-position: right 9% top 9px;
    justify-content: space-between;
    margin-bottom: 0;
    height: 445px;
  }
  .h-welcome__left {
    justify-content: flex-start;
    padding-top: 55px;
  }
  .h-welcome__title {
    padding-bottom: 39px;
  }
  .h-welcome__center, .h-welcome__right {
    display: none;
  }
  .h-welcome__title {
    margin: 0;
  }
  .h-welcome__desc {
    max-width: 25em;
  }
  .h-tours-link {
    display: flex;
    padding-top: 64px;
  }
}

@media (max-width: 1020px) {
  .h-welcome {
    padding: 0 40px;
    background-size: 88% auto;
    background-position: left 0 top 3vw;
    padding-top: 70.7%;
    height: auto;
  }
  .h-welcome__left {
    width: 100%;
  }
  .h-welcome__title {
    padding-bottom: 30px;
  }
  .h-welcome__desc {
    max-width: 28em;
  }
  .h-tours-link {
    display: flex;
    padding-top: 55px;
    padding-left: 40px;
  }
}

@media (max-width: 660px) {
  .h-welcome {
    padding: 0 24px;
    background-size: 120vw auto;
    background-position: left -17vw top 99px;
    padding-top: 118vw;
    height: auto;
  }
  .h-welcome__title {
    padding-bottom: 22px;
  }
  .h-welcome__desc {
    max-width: 100%;
    letter-spacing: .45px;
  }
  .h-tours-link {
    padding-top: 62px;
    padding-left: 24px;
  }
  .h-welcome__title::after {
    left: 5.57em;
    top: 2.58em;
    width: 42px;
    height: 14px;
  }
}

@media (max-width: 380px) {
  .volunteers__content {
    display: block;
  }
  @media (max-width: 320px) {
    .h-welcome__title {
      font: 1.5rem/2rem Druk, sans;
    }
  }
}